<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transição Whatsapp</title>
    <link rel="stylesheet" href="/css/style-whatsapp.css">
</head>
<body>

    <div class="modal-container">
        
        <div class="mensagem">
            <h2>Você será redirecionado <br> para um chat no WhatsApp...</h2>
        </div>

        <div class="imagens">
            <div class="foto1">
                <img src="/img/Screen.png" alt="">
            </div>

            <div class="foto2">
                <img src="/img/Screen2.png" alt="">
            </div>

        </div>

    </div>
   
</body>
</html>