<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViraPágina</title>
    <link rel="stylesheet" href="/public/css/style-index.css">
</head>

<body>

    <main>
        <header>
            <div class="header-left">
                <div class="logo">
                    <img src="/public/img/logo-icon-black.png" alt="">
                    <h2>ViraPágina</h2>
                </div>
                <p>Sobre</p>
                <p>Livros</p>
                <p>Doações</p>
                <p>Seus Dados</p>
            </div>
            <div class="header-right">
                <button class="left">Login</button>
                <button class="right">Criar Conta</button>
            </div>
        </header>
        <section id=index class="top-content">
            <div id="index" class="top-left">
                <h3>Compartilhe seus livros com o mundo</h3>
                <p>ViraPágina é a sua plataforma para a troca de livros. Tenha acesso a um acervo de milhares de livros
                </p>
                <div class="container">
                    <button>Vire a página!</button>
                </div>
            </div>
            <div class="top-right">
                <img src="/public/img/mosaico-livro-index.png" alt="Livro">

            </div>
        </section>


        <section class="testimonials">
            <div class="headline">
                <h2>Nossos usuários falam</h2>
                <img src="/public/img/aspas.png" alt="">
            </div>
            <div class="container">
                <article id="art1">
                    <div class="container">
                        <strong>Incrível Experiência</strong>
                        <span>We had an incredible experience working with Landify and were impressed they made such a
                            big difference in only three weeks. Our team is so grateful for the wonderful improvements
                            they made and their ability to get familiar with the concept so quickly. It acted as a
                            catalyst to take our design to the next level</span>
                    </div>
                    <img class="trianguim" src="/public/img/trianguin.png" alt="">
                    <div class="profile-label">
                        <div class="profile-photo">
                            <img src="/public/img/profile-pic.png" alt="Foto de perfil">
                        </div>
                        <div class="name-title">
                            <strong>Luiz Negrinho</strong>
                            <span>Fullstéqui Dev</span>
                        </div>
                    </div>
                </article>
                <article id="art2">
                    <div class="container">
                        <strong>Economia e custo-benefício</strong>
                        <span>We had an incredible experience working with Landify and were impressed they made such a
                            big difference in only three weeks. Our team is so grateful for the wonderful improvements
                            they made and their ability to get familiar with the concept so quickly. It acted as a
                            catalyst to take our design to the next level</span>
                    </div>
                    <img class="trianguim" src="/public/img/trianguin.png" alt="">
                    <div class="profile-label">
                        <div class="profile-photo">
                            <img src="/public/img/profile-pic-geisiane.png" alt="Foto de perfil">
                        </div>
                        <div class="name-title">
                            <strong>Geisiane</strong>
                            <span>CEO & co-founder</span>
                        </div>
                    </div>
                </article>
            </div>

        </section>








        <section id="index" class="middle-content">

            <div class="middle-top">

                <h2>Converse com vários leitores</h2>

            </div>


            <div id="index" class="middle-bottom">
                <div id="index" class="middle-bottom-left">

                    <div class="lim-1">
                        <img class="tile" src="/public/img/Image 1.png" alt="">
                        <img class="circle" src="/public/img/circulo-amarelo.png" alt="">
                    </div>
                    <div class="lim-2">

                        <img class="circle" src="/public/img/circulo-azul.png" alt="">
                        <img class="tile" src="/public/img/Image 2.png" alt="">
                    </div>
                    <div class="lim-3">
                        <img class="tile" src="/public/img/Image 3.png" alt="">
                        <img class="circle" src="/public/img/circulo-rosa.png" alt="">
                    </div>

                </div>
                <div class="middle-bottom-right">
                    <ul>
                        <li class="il-1">
                            <h5>Doação</h5>
                            <p>Doe seus livros para instituições cadastradas</p>
                        </li>
                        <li class="il-2">
                            <h5>Troca</h5>
                            <p>Troque livros com leitores e negocie diretamente com eles</p>
                        </li>
                        <li class="il-3">
                            <h5>Venda</h5>
                            <p>Venda Livros usados ou raros e faça uma renda extra</p>
                        </li>
                    </ul>

                </div>

            </div>

        </section>

    </main>
    <footer>
        <div class="footer-left">
            <img src="/public/img/logo-icon.png" alt="Ícone de livro">
            <div class="linha-1">
                <p>Baixe agora</p>
                <p>Licensa</p>
            </div>
            <div class="linha-2">
                <p>Sobre</p>
                <p>Funcionalidades</p>
                <p>Doações</p>
                <p>Carreiras</p>
                <p>Ajuda</p>
                <p>Política de Privacidade</p>

            </div>
            <div class="linha-3">
                <p>© 2021 Todos os direitos reservados</p>
            </div>
        </div>
        <div class="footer-right">
            <p>Baixe o App</p>
            <img src="/public/img/apps.png" alt="">

        </div>

    </footer>


</body>

</html>