@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manrope&display=swap');


body {
  font-family: 'Montserrat Alternates';
  width: 100%;
}

.logo h1{
  margin: 10px;
}

.container {
  width: 100%;
  max-width: 100%;
}

main {
  width: 100%;
  /* align-items: center; */

}

header .logo {
  display: flex;
  align-items: center;
  font-size: 8px;
}


header .container {
  display: flex;
  align-items: center;
  padding-right: 10px;
  justify-content: space-evenly;
}

.menu {
  justify-content: space-around;
}

.menu button {
  background-color: transparent;
  border: none;
}

.menu-right {
  display: flex;
  font-family: 'Manrope';
  font-size: 8px;
  align-items: center;
}

.menu-right button {
  width: 100px ;
  height: 30px;
  text-align: center;
  flex-grow: 0;
  color: #fff;
  font-size: 14px;
  background-color: #8C30F5;
  display: inline-block;
  margin:  0px 10px;
  border-radius: 7px;
  border-style: solid;
  cursor: pointer;
  border: none;
}

.menu-right button:hover{
  transition: 0.3s;
  background-color: #F1E4FF;
  color: #8C30F5;
}

.menu-right form input{
  font-family: 'Manrope';
  width: 500px;
  height: 30px;
  text-align: left;
  border-radius: 7px;
  border: 1px solid #ccc;
}


.banner-login {
  align-items: flex-start;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  margin-bottom:  100px;
}

.banner {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around
}

.banner img {
  width: 70%;
}

.login {
  margin-left: 60px;
  display: flex;
  width: 70%;
  height: auto;
  flex-direction: column;
}

.login p {
  margin-top: 0;
  font-size: 45px;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login form input {
  color: #000;
  text-align: left;
  font-family: "Manrope";
  font-style: normal;
  font-weight: bold;
  padding: 15px;
  width: 90%;
  margin-bottom: 25px;
  border-radius: 6px;
  border: 1px solid rgba(204,204,204);
}



.flex {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0B0D17;
  display: flex;
  flex-wrap: wrap;  
  /* padding: 10px; */
}

.flex .titulo {
  font-family: "Manrope";
  color: #fff;
  font-size: 40px;
}

.flex .linha {
  display: flex;
}

.flex article {
  width: 350px;
  height: 258px;
  border-radius: 8px;
  padding: 40px;

}


.flex .linha {
  display: flex;
  /* justify-content: space-around; */
}


.flex .thumbs {
  font-family: "Manrope";
  color: #0B0D17;
  margin: 10px;
  border-radius: 8px;
  margin: 10px;
  background-color: #fff;
  /* margin: 10px; */
}

.flex .add {
  display:  flex;
}

.flex button {
  background-color: transparent;
  border: none;
  color:#8C30F5;
  font-family: "Manrope";
  font-size: 12px;
}

.flex article {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.seta {
  color:  #8C30F5;
}

.concluir {
  background-color: #0B0D17;
}

.concluir button {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border: none;
  background-color: #fff;
  color: #8C30F5;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #0B0D17 ;
  color: #fff;
}

.footer-left {
  width: 50%;
}

footer li {
  list-style: none;
  font-size: 16px;
  font-family: "Manrope";
}


a {
  text-decoration: none;
  color: #fff;
}

.footer-left .l1-footer {
  display: flex;
}
.footer-left img{
  margin-bottom: 30px;
  /* padding-left: 30px; */
}

.footer-left .l1-footer li {
  padding-right: 20px;
  margin-bottom: 20px;
}

.footer-left .l2-footer {
  display: flex;
  margin-bottom: 20px;
}

.footer-left .l2-footer li {
  padding-right: 20px;
}

.footer-left p{
  margin-left: 40px;
  /* padding-left: 30px; */
}