@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:display=swap');


body {
    font-family: 'Manrope', sans-serif;
     
 /* Cabeçalho    */

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display: flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
    background-color:white;
    position:fixed;
    z-index: 10;
    top:0;
    right:0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    

}

.logo {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.logo img {
    height: 24px;
    padding-right: 9px;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
}

.header-left p {
    padding-left: 32px;
}

.header-right {
    width: 212px;
    display:flex;
    justify-content: space-between;
}

button {
    border:none;
    border-radius:8px;
    width: 100px;
    height: 40px;
    font-size:14px;
    font-weight: 700;
   
}

.header-right button.left {
    background-color:rgba(241,228,255,1);
    color: rgba(140,48,245,1);
   
    
    
    
}

.header-right button.right {
    background-color: rgba(140,48,245,1);
    color: white;
}

/* Centro-superior */

.top-content {
    
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 130px;
    
}

.top-left {
    max-width: 35%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: 800;
  
}

.top-right {
    max-width: 10%;
}

.top-right form{
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.top-right input{
    max-width: 30vw;
    width: 510px;
    border-radius: 8px;
    border: 1px solid rgb(204, 204, 204);
    padding: 18px 10px;
    margin-bottom: 10px;
}

.top-right button {
    background-color: rgba(140,48,245,1);
    color: white;
}

/* Meio  */


.middle-content .middle-top{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.middle-content .main-image {

    max-width: 900px;   /*melhorar*/
}

.middle-content h2 {
    width: 500px;
    font-size: 48px;
    font-weight: 700;
   
    text-align: center;
    
}

.middle-bottom {
    display:flex;
    max-width: 100%;
    justify-content: space-between;
    padding-bottom: 150px;
    position:relative;
    left:140px;
    
}

.middle-bottom-left {

    display:flex;
    flex-direction: column;
    position:relative;
    max-width: 50%;;
    left:10px;
}

.middle-bottom-right{
    position:relative;
    right:70px;
    justify-content:flex-end;
    max-width: 50%;
    padding:100px;
}
.middle-bottom-right h5 {
    font-size: 17px;
    font-weight: 600;
}

.middle-bottom-right p {
    font-size: 14px;
    font-weight: 400;   /*não funciona*/
    line-height: 32px;
}

.il-1::marker {
    color:rgba(160, 220, 255, 1);
}
.il-2::marker {
    color:rgba(255, 195, 216, 1);
}
.il-3::marker {
    color:rgba(193, 229, 192, 1);
}


/* mosaico de imagens e pontos */

.middle-bottom-left .circle {
    width:80px;

}

.lim-1 {
    position:absolute;
    z-index:1;
}
.lim-1 .tile {
    position:relative;
    max-width:288px;
    z-index: 6;
    right:20px;
}

.lim-1 .circle {
    position:absolute;
    z-index: 5;
    top: 175px;
    left:220px;
   
}

.lim-2 {
    position:absolute;
    top: 135px;
    right:-120px;
}


.lim-2 .tile {
    position:relative;
    max-width:288px;
    z-index:4;
}

.lim-2 .circle{
    position:relative;
    z-index:3;
    top:220px;
    left:-30px;
}

.lim-3 {
    position:absolute;
    top:380px;
    left:10px;
}


.lim-3 .tile{
    position:relative;
    max-width:186px;
    z-index: 8;
    
}
.lim-3 .circle{
    position:relative;
    z-index: 1;
    left:145px;
    top:-45px;
}



/* FOOTER */

footer {
    
    height: 280px;
    width:100%;
    display:flex;
    justify-content: space-around;
    padding-top: 56px;
    background-color: rgba(11, 13, 23, 1);
    color: white;
    font-size: 15px;
    left:0;
}

footer .footer-left {
    width: auto;
    display:flex;
    flex-direction: column;
   
    
}

footer .footer-left img {
    width: 39px;
    margin-bottom: 20px;
}

footer .footer-left .linha-1 {
    width: 200px;
    display: flex;
    justify-content: space-between;
   
}

footer .footer-left .linha-2 {
    display: flex;
    justify-content: space-between;
    
}

footer .footer-left .linha-2 p {
    padding-right: 15px;
}

footer .footer-left .linha-3 {
    font-size: 14px;
    font-weight: 400;
}

footer .footer-right {
    display:flex;
    flex-direction: column;
    position:relative;
    left:-100px;
    font-size: 17px;
}

.footer-right img {
    width:135px;
}